@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('simple-button') {
    .sb {
        background: none;
        border: 0;
        box-sizing: border-box;
        margin: 1em 0;
        padding: 0.5em 1.5em;
        cursor: pointer;
        box-shadow: inset 0 0 0 4px $highlight;
        color: $highlight;
        font-weight: 700;
        font-size: 1.2em;
        text-transform: uppercase;
        position: relative;
      
        &::before,
        &::after {
          box-sizing: inherit;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
        }
        &__draw {
            transition: color 0.25s;
        
          &::before,
          &::after {
            border: 4px solid transparent;
            width: 0;
            height: 0;
          }
        
          &::before {
            top: 0;
            left: 0;
          }
        
          &::after {
            bottom: 0;
            right: 0;
          }
          
          &:hover {
            color: $primary-light;
          }
        
          &:hover::before,
          &:hover::after {
            width: 100%;
            height: 100%;
          }
        
          &:hover::before {
            border-top-color: $primary-light;
            border-right-color: $primary-light;
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
        
          &:hover::after {
            border-bottom-color: $primary-light;
            border-left-color: $primary-light;
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }
        }
    }

    a { text-decoration: none;}
}
