@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/layouts/grid";
@import "../../resources/scss/settings/settings";

@include host('root-events') {
    .events {
        padding: 140px 0;
        margin: 0 20px;
        max-width: 1220px;

        &.twelve-column-grid {
            @include grid(12, 0);
        }

        simple-headline {
            @include startSpanOffset(12, 0);
        }

        former-talk {
            @include span(12);
            margin-top: 90px;
        }

        .link-container {
            @include span(12);
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin-top: 45px;
            padding-top: 20px;

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 5px;
                width: 60px;
                right: 0;
                top: 0;
                margin-bottom: 20px;
                background-color: $primary-light;
            }
        }

        a {
            color: $highlight;
            text-decoration: none;
            font-weight: 700;

            &:hover {
                color: $highlight-dark;

                .arrow-right {
                    border: solid $highlight-dark;
                    border-width: 0 3px 3px 0;
                }
            }

            .arrow-right {
                border: solid $highlight;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                margin-left: 10px;
                margin-bottom: 1px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transition: 0.3s ease-out;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .events {
            margin: 0 60px;

            &.twelve-column-grid {
                @include grid(12, 44);
            }

            former-talk {
                @include span(6);
            }

            .link-container {
                @include span(6);
                align-items: flex-end;

                &:before {
                    top: auto;
                    bottom: 30px;
                }
            }
        }
    }

    @media screen and (min-width: 1340px) {
        .events {
            margin: 0 auto;

            former-talk {
                @include span(4);
            }

            .link-container {
                @include span(12);
            }
        }
    }
}
