@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/layouts/grid";

@include host('events') {
    .events {
        padding: 140px 0;
        margin: 0 20px;
        max-width: 1220px;

        &.twelve-column-grid {
            @include grid(12, 40);
        }

        glyph-headline {
            @include startSpanOffset(12, 0);
        }

        past-events {
            @include span(12);
        }
    }

    @media screen and (min-width: 768px) {
        .events {
            margin: 0 60px;

            past-events {
                @include span(6);
            }
        }
    }

    @media screen and (min-width: 1340px) {
        .events {
            margin: 0 auto;
        }
    }
}
