@import "node_modules/@biotope/element/lib/host.mixin";

@include host('main-footer') {
    .main-footer {
        display: flex;
        justify-content: space-between;
        color: #fff;
        background-color: #010413;
        padding: 20px 5vw;

        &__vi-logo {
            width: 150px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 16px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        svg path{
            fill: #fff;
        }
    }
}