@import "node_modules/@biotope/element/lib/host.mixin";

@include host('main-footer') {
    .main-footer {
        color: #fff;
        background-color: #010413;

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            margin: 0 30px;
        }

        &__vi-logo {
            width: 150px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            margin-right: 16px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        svg path{
            fill: #fff;
        }

        &__social-media-container {
            ul {
                margin-top: 8px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .main-footer__container {
            max-width: 1220px;
            margin: 0 60px;
        }
    }

    @media screen and (min-width: 1340px) {
        .main-footer__container {
            margin: 0 auto;
        }
    }
}