@import "node_modules/@biotope/element/lib/host.mixin";

@include host('main-footer') {
    .main-footer {
        height: 80px;
        color: #fff;
        background-color: #06103C;
        border-top: 4px solid #96D946;
    }
}
