@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/layouts/grid";
@import "../../resources/scss/settings/settings";

@include host('root-location') {
    .location {
        padding: 140px 0;
        margin: 0 20px;
        max-width: 1220px;

        &.twelve-column-grid {
            @include grid(12, 64);
        }

        &__text {
            @include span(8);
        }

        &__images {
            background-color: $primary-light;
            margin-top: 20px;
            margin-left: 20px;
            height: 100%;
            @include span(4);

            img {
                display: inline-block;
                position: relative;
                width: 100%;
                height: auto;
                margin-top: -20px;
                margin-left: -20px;
            }
        }

        simple-text {
            margin-top: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        .location {
            margin: 0 60px;
        }
    }

    @media screen and (min-width: 1340px) {
        .location {
            margin: 0 auto;
        }
    }
}
