@import "node_modules/@biotope/element/lib/host.mixin";

@include host('glyph-headline') {

  .glyph-headline {
    display: inline-block;
    position: relative;
    text-transform: uppercase;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 8px;
      top: 8px;
      z-index: -1;
      background-color: #9FE447;
    }

    &__letter-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__letter {
      display: inline-block;
      width: 40px;
      text-align: center;
    }

    &__hover span[aria-hidden] {
      display: inline-block;
    }

    span[data-initial=" "] {
      width: 40px;
    }
  }
}
