@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('fixed-nav') {

    .navbar {
        font-size: 18px;
        background-color: $white;
        padding-bottom: 10px;
        position: fixed;
        width: 100%;
        z-index: 667;

        &__container {
          margin: 0 30px;
          width: 100%;
        }

        &__main-nav {
            list-style-type: none;
            display: none;

            li {
                margin: 15px auto;
            }
        }

        &__links {
            text-decoration: none;
            color: $highlight;
            display: inline-block;
            font-weight: 800;
        }

        &__links:hover {
          color: $highlight-dark;
        }

        &__links::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          margin-top: 2px;
          background: $highlight-dark;
          transition: width .3s;
        }

        &__links:hover::after {
          width: 100%;
        }

        &__logo {
            display: inline-block;
            text-decoration: none;
            font-size: 22px;
            margin-top: 7px;
            width: 100px;

            .cls-1 {
              fill: #333;
            }
        }

        &__toggle {
            position: absolute;
            top: 25px;
            right: 5vw;
            cursor: pointer;
            color: $black;

            svg {
              fill: $highlight;

              path {
                transition: 0.1s all ease-out;
              }
            }
            svg:hover {
              fill: $highlight-dark;
            }
        }
      }

      .cross-animation {
        svg {
          fill: $highlight-dark;

          path {
            transition: 0.1s all ease-in;
          }

          #line-one {
            transform: rotate(45deg) translate(7px, -10px);
            transform-origin: top left;
          }
          #line-two {
            opacity: 0;
            transform: translate(-50px, 0);
          }
          #line-three {
            transform: rotate(-45deg) translate(-14px, -5px);
            transform-origin: top bottom;
          }
        }
      }
      
      .active {
        display: block;
      }

      .filled {
        background-color: $white !important;
        transition: all 0.4s ease-out;
        border-bottom: 1px solid  #ededed;
        box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);

        .navbar__links {
          color: $highlight;
        }

        .navbar__links:hover {
          color: $highlight-dark;
        }

        .navbar__links::after {
          background: $highlight-dark;
        }
      }
      
      @media screen and (min-width: 850px) {
        .navbar {
          background-color: RGBA(8, 19, 62, .3);
          display: flex;
          background-color: transparent;
          justify-content: space-between;
          padding-bottom: 0;

          .navbar__logo {
            opacity: 0;
            cursor: default;
          }

          &.filled .navbar__logo {
            opacity: 1;
            cursor: pointer;
          }

          &__container {
            margin: 0 60px;
            max-width: 1220px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;
          }

          &__main-nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            li {
                margin: 0;
            }
          }

          &__links {
            margin-left: 20px;
            font-size: 16px;
            color: $white;
          }

          &__links:hover {
            color: $white;
          }

          &__links::after {
            background: $white;
          }
          
          &__logo {
            margin-top: 0;
          }

          &__toggle {
            display: none;
          }
        }
      }

      @media screen and (min-width: 1340px) {
        .navbar__container {
          margin: 0 auto;
        }
      }
}
