@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('event-date') {
    .ed {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        margin-top: 40px;

        &__numbers {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 2em;
            line-height: 2em;
            margin: 0;
            z-index: 2;
            color: $black;
        }

        &__title {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: flex-end;
            background-color: $primary;
            color: $black;
            font-weight: 400;
            letter-spacing: 3px;
            margin-top: -2em;

            p {
                margin: 30px 0 10px 0;
                padding: 0 30px;
                text-align: center;
            }
        }
    }

    @media screen and (min-width: 500px) {
        .ed {
            &__numbers {
                font-size: 3em;
            }
            &__title {
                margin-top: -2.5em;
                p {
                    margin: 40px 0 15px 0;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .ed {
            &__numbers {
                font-size: 3.5em;
            }
            &__title {
                margin-top: -3em;
            }
        }
    }

    @media screen and (min-width: 992px) {
        .ed {
            &__numbers {
                font-size: 5em;
            }
            &__title {
                margin-top: -4.5em;
                p {
                    margin: 60px 0 30px 0;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .ed {
            &__numbers {
                font-size: 6em;
            }
            &__title {
                margin-top: -5.5em;
            }
        }
    }

}
