@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";
@import "../../resources/scss/layouts/grid";

@include host('root-registration') {
    .registration {
        padding: 140px 0;
        margin: 0 20px;
        max-width: 1220px;

        &.twelve-column-grid {
            @include grid(12, 0);
        }

        simple-headline {
            @include startSpanOffset(12, 0);
        }

        simple-text {
            color: $white;
            margin: 30px 0;
        }

        registration-form, simple-text {
            @include startSpanOffset(12);
        }
    }

    @media screen and (min-width: 480px) {
        .registration {

            registration-form {
                @include startSpanOffset(11);
            }
        }
    }

    @media screen and (min-width: 768px) {
        .registration {
            margin: 0 60px;

            registration-form {
                @include startSpanOffset(10);
            }
        }
    }

    @media screen and (min-width: 1340px) {
        .registration {
            margin: 0 auto;
        }
    }
}
