@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('speaker-box') {

    .speaker {
        overflow: hidden;
        position: relative;
        margin-bottom: 1vw;
        margin-top: 1vw;

        &__wrapper {
            position: relative;
        }

        &__box-one {
            top: 0;
            left: 50px;
            background-color: $highlight-blue;
            position: absolute;
            &::after {
                content: '';
                width: calc(80% + 100px);
                height: 100%;
                left: -150px;
                top: 25px;
                background-color: $white;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &__title {
            position: relative;
            font-size: 35px;
            line-height: 40px;
            display: inline-block;
            font-weight: 400;
            margin-top: 50px;
            margin-bottom: 30px;
            padding-right: 60%;
            word-break: normal;
        }

        &__title::after {
            width: 100px;
            margin-top: 20px;
            content: '';
            display: block;
            height: 5px;
            background: $highlight-green;
            transition: width .3s;
          }

        &__job {
            color: $white;
            position: relative;
            margin-top: 0;
            display: block;
            width: 44%;
            top: 20px;
            font-size: 14px;
            line-height: 20px;
        }

        &__toggle {
            position: relative;
            left: calc(20% + 80px);
            cursor: pointer;
            color: $highlight-green;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;

            &--arrow-down {
                border: solid $highlight-green;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                margin-left: 10px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transition: 0.3s ease-out;
            }

            &--arrow-up {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }
        }

        &__description {
            position: relative;
            margin-top: 15%;
            display: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 14px;
            line-height: 24px;

            &--open {
                display: block;
            }
        }
    }
    @media screen and (min-width: 320px) {
        .speaker { 
            padding: 12vw;

        &__box-one {
            width: 50%;
            height: calc(20vw + 150px);
            background-size: contain;
            background-position: center;
        }

        &__title {
            left: 50%;
            padding-right: 90%;
        }

        &__toggle {
            left: 50%;
            margin-top: 20px;
        }

        &__job {
            left: 50%;
        }

        &__description {
            width: 100%;
            left: -8%;
        }
    }
    }

    @media screen and (min-width: 768px) {

        .speaker {
            padding: 7vw;

        &__box-one {
            width: 40%;
            height: calc(20vw + 150px);
        }

        &__title {
            font-size: 60px;
            line-height: 65px;
            font-size: 3em;
            padding-right: 80%;
            left: calc(35% + 50px);
        }

        &__description {
            left: 5%;
            font-size: 16px;
            line-height: 28px;
        }

        &__toggle {
            left: calc(40% + 110px);
            font-size: 18px;
            line-height: 28px;
        }

        &__job {
            left: calc(40% + 110px);
            font-size: 18px;
            line-height: 28px;
        }
    }

    }

    @media screen and (min-width: 1340px) {
        .speaker {
            padding: 3em;

        &__box-one {
            width: 50%;
            height: calc(55% + 100px);
            background-size: cover;
        }

        &__title {
            padding-right: 60%;
        }

        &__description {
            margin-top: 50px;
        }

        }
    }
}
