@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('schedule-placeholder') {
    .sp {
        position: relative;
        height: 500px;
        margin-top: 85px;
        word-break: normal;

        &__box-one {
            width: 240px;
            height: 400px;
            left: 50px;
            background-color: $highlight;
            position: absolute;
        }

        &__title {
            position: absolute;
            font-size: 2em;
            max-width: 400px;
            left: 50px;
            top: 300px;
            line-height: 1.2em;
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__title::after {
            width: 60px;
            margin-top: 30px;
            margin-left: 50px;
            content: '';
            display: block;
            height: 5px;
            background: $highlight-light;
            transition: width .3s;
          }

        &__date {
            position: absolute;
            margin-top: 10px;
            width: 212px;
            left: 100px;
            top: 540px;
        }

        svg {
            position: absolute;
            z-index: 1;
            width: 250px;
            height: 250px;
            top: 50px;

            .st0{fill:none}
            .st1{fill: $white}
            .st2{fill: $highlight-light}
            .st3{fill: $primary}
        }
    }

    @media screen and (min-width: 820px) {
        .sp {
            margin-bottom: 100px;

         &__box-one {
            width: 350px;
            height: 600px;
            left: 190px;
         }

        &__title {
            left: 390px;
            top: 100px;
            width: 450px;
            font-size: 3em;
        }

        &__title::after {
            width: 60px;
            margin-left: 180px;
        }

        &__date {
            left: 570px;
            top: 370px;
        }

        svg {
            width: 450px;
            height: 450px;
            top: 240px;
            left: 0;
        }
        }
    }
}
