@import "node_modules/@biotope/element/lib/host.mixin";

@include host('schedule-placeholder') {
    .schedule-placeholder {
        position: relative;
        height: 500px;
        margin-top: 85px;

        &__box-one {
            width: 300px;
            height: 400px;
            left: 50px;
            background-color: #87E800;
            position: absolute;
        }

        &__title {
            position: absolute;
            font-size: 2em;
            left: 50px;
            top: 300px;
            line-height: 1.2em;
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__title::after {
            width: 70%;
            margin-top: 30px;
            margin-left: 50px;
            content: '';
            display: block;
            height: 10px;
            background: #87E800;
            transition: width .3s;
          }

        &__date {
            position: absolute;
            margin-top: 10px;
            width: 212px;
            left: 100px;
            top: 500px;
        }
    }

    @media screen and (min-width: 768px) {
        .schedule-placeholder {
            margin-bottom: 100px;

         &__box-one {
            width: 400px;
            height: 600px;
            left: 100px;
         }

        &__title {
            left: 400px;
            top: -30px;
            width: 300px;
            font-size: 4em;
        }

        &__title::after {
            margin-left: 150px;
        }

        &__date {
            left: 550px;
            top: 420px;
        }
        }
    }
}
