@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('schedule-placeholder') {
    .sp {
        position: relative;
        height: 500px;
        margin-top: 85px;
        word-break: normal;

        &__box-one {
            width: 300px;
            height: 400px;
            left: 50px;
            background-color: $highlight-green;
            position: absolute;
        }

        &__title {
            position: absolute;
            font-size: 2em;
            max-width: 400px;
            left: 50px;
            top: 300px;
            line-height: 1.2em;
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__title::after {
            width: 70%;
            margin-top: 30px;
            margin-left: 50px;
            content: '';
            display: block;
            height: 10px;
            background: $highlight-green;
            transition: width .3s;
          }

        &__date {
            position: absolute;
            margin-top: 10px;
            width: 212px;
            left: 100px;
            top: 540px;
        }

        svg {
            position: absolute;
            z-index: 1;
            width: 250px;
            height: 250px;
            top: 50px;
        }
    }

    @media screen and (min-width: 820px) {
        .sp {
            margin-bottom: 100px;

         &__box-one {
            width: 400px;
            height: 600px;
            left: 50px;
         }

        &__title {
            left: 350px;
            top: 10px;
            width: 450px;
            font-size: 4em;
        }

        &__title::after {
            margin-left: 120px;
        }

        &__date {
            left: 470px;
            top: 460px;
        }

        svg {
            width: 450px;
            height: 450px;
            top: 240px;
            left: -50px;
        }
        }
    }
}
