@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";

@include host('address-label') {
    .al {
        color: #fff;
        margin: 40px 0 60px 0;

        &__icon {
            margin-right: 16px;
            
            svg {
                width: 150px;
                height: 150px;

                .cls-1{fill:#87e800}
                .cls-2{fill:#004eff}
                .cls-5{fill:#fff}
            }
        }

        h3 {
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 3px;
            font-weight: 400;
        }

        &__address {
            font-size: 18px !important;
            line-height: 28px !important;
            font-family: Roboto, sans-serif !important;
        }
    }

    @media screen and (min-width: 768px) {
        .al {
            display: flex;
        }
    }
}