@import "node_modules/@biotope/element/lib/host.mixin";

@include host('address-label') {
    .al {
        display: flex;
        color: #fff;
        margin-bottom: 85px;
        margin-top: 85px;

        &__icon {
            margin-right: 16px;
        }

        h3 {
            font-size: 30px;
            line-height: 35px;
            margin: 0 0 8px 0;
        }
    }
}