@import "node_modules/@biotope/element/lib/host.mixin";

@include host('google-maps') {
    .map-container {
        position: relative;
        height: 500px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -16px;
            left: -16px;
            width: 90%;
            height: 50%;
            background-color: #9FE447;
        }

        &__map {
            height: 100%;
            width: 100%;
            border: 1px solid #2B3359;
        }
    }
}