@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/settings/settings";
@import "../../resources/scss/layouts/grid";


@include host('snap-layout') {
    
    .snap-layout {

        &__section {
            min-height: 100%;

            &.dark {
                background-color: $primary;
                color: $white;
            }
            
            &.light {
                background-color: $white;
                background: none;
                color: $black;
            }
        }
    }
}
